
*
{
    margin: 0%;
    padding: 0%;
}


@media (min-width:480px) and (max-width:768px){

    /* -------------------LAYOUT/HOME------------------- */

    #bodyHome {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, red, crimson, yellow);

        display: grid;

        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(10, 150px);

        grid-template-areas: 
        "header header header header"
        "presentation presentation presentation presentation"
        "presentation presentation presentation presentation"
        "presentation presentation presentation presentation"
        "presentation presentation presentation presentation"
        "presentation presentation presentation presentation"
        "publicity publicity publicity publicity"
        "sectionVideos sectionVideos sectionVideos sectionVideos "
        "sectionVideos sectionVideos sectionVideos sectionVideos "
        "footer footer footer footer";

        align-content: stretch;
    }

    #header {
        grid-area: header;

        justify-self: stretch;
        align-self: baseline;
    }

    #presentation {
        grid-area: presentation;
    }

    #publicity {
        grid-area: publicity;
        justify-self: center;
        align-self: center;
    }

    #sectionVideos {
        grid-area: sectionVideos;
        justify-self: center;
        align-self: center;
    }

    #footer {
        grid-area: footer;
        background-color: black;
        display: flex;
    }

    /* --------------------LAYOUT/GALLERY------------------- */
    #bodyGallery {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, red, crimson, yellow);

        display: grid;

        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(24, 1fr);

        grid-column-gap: 2px;
        grid-row-gap: 2px;

        grid-template-areas: 
        "header header header header"
        "gallery gallery gallery gallery"
        "galleryImg galleryImg galleryImg galleryImg"
        "galleryImg galleryImg galleryImg galleryImg"
        "galleryImg galleryImg galleryImg galleryImg"
        "galleryImg galleryImg galleryImg galleryImg"
        "galleryImg galleryImg galleryImg galleryImg"
        "galleryVideos galleryVideos galleryVideos galleryVideos"
        "galleryVideos galleryVideos galleryVideos galleryVideos"
        "galleryVideos galleryVideos galleryVideos galleryVideos"
        "galleryVideos galleryVideos galleryVideos galleryVideos"
        "galleryVideos galleryVideos galleryVideos galleryVideos"
        "galleryVideos galleryVideos galleryVideos galleryVideos"
        "galleryVideos galleryVideos galleryVideos galleryVideos"
        "galleryVideos galleryVideos galleryVideos galleryVideos"
        "galleryVideos galleryVideos galleryVideos galleryVideos"
        "galleryVideos galleryVideos galleryVideos galleryVideos"
        "galleryVideos galleryVideos galleryVideos galleryVideos"
        "galleryVideos galleryVideos galleryVideos galleryVideos"
        "galleryVideos galleryVideos galleryVideos galleryVideos"
        "galleryVideos galleryVideos galleryVideos galleryVideos"
        "galleryVideos galleryVideos galleryVideos galleryVideos"
        "galleryVideos galleryVideos galleryVideos galleryVideos"
        "footer footer footer footer";
    }

    #gallery {
        grid-area: gallery;
        justify-self: center;
        align-self: center;
    }

    #galleryImg {
        grid-area: galleryImg;
        align-self: center;
        justify-self: center;
    }

    #galleryVideos {
        grid-area: galleryVideos;
    }

    /* --------------------LAYOUT/DISCOGRAPHY------------------- */

    #bodyDiscography {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, red, crimson, yellow);

        display: grid;

        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(13, 150px);

        grid-column-gap: 2px;
        grid-row-gap: 2px;

        grid-template-areas: 
        "header header header header"
        "discography discography discography discography"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "discographyComplete discographyComplete discographyComplete discographyComplete"
        "footer footer footer footer";

        align-content: stretch;
    }

    #discography {
        grid-area: discography;
        align-self: center;
    }

    #discographyComplete {
        grid-area: discographyComplete;
        justify-self: center;
    }

    /* --------------------LAYOUT/MEMBERS------------------- */

    #bodyMembers {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, red, crimson, yellow);

        display: grid;

        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(54, 150px);

        grid-column-gap: 2px;
        grid-row-gap: 2px;

        grid-template-areas: 
        "header header header header"
        "members members members members"
        "membersOliver membersOliver membersOliver membersOliver"
        "membersOliver membersOliver membersOliver membersOliver"
        "membersOliver membersOliver membersOliver membersOliver"
        "membersOliver membersOliver membersOliver membersOliver"
        "membersOliver membersOliver membersOliver membersOliver"
        "membersOliver membersOliver membersOliver membersOliver"
        "membersOliver membersOliver membersOliver membersOliver"
        "membersOliver membersOliver membersOliver membersOliver"
        "membersOliver membersOliver membersOliver membersOliver"
        "membersOliver membersOliver membersOliver membersOliver"
        "membersOliver membersOliver membersOliver membersOliver"
        "membersOliver membersOliver membersOliver membersOliver"
        "membersOliver membersOliver membersOliver membersOliver"
        "membersOliver membersOliver membersOliver membersOliver"
        "membersOliver membersOliver membersOliver membersOliver"
        "membersOliver membersOliver membersOliver membersOliver"
        "membersMattNicholls membersMattNicholls membersMattNicholls membersMattNicholls"
        "membersMattNicholls membersMattNicholls membersMattNicholls membersMattNicholls"
        "membersMattNicholls membersMattNicholls membersMattNicholls membersMattNicholls"
        "membersMattNicholls membersMattNicholls membersMattNicholls membersMattNicholls"
        "membersMattNicholls membersMattNicholls membersMattNicholls membersMattNicholls"
        "membersMattNicholls membersMattNicholls membersMattNicholls membersMattNicholls"
        "membersMattNicholls membersMattNicholls membersMattNicholls membersMattNicholls"
        "membersMattNicholls membersMattNicholls membersMattNicholls membersMattNicholls"
        "membersMattNicholls membersMattNicholls membersMattNicholls membersMattNicholls"
        "membersLee membersLee membersLee membersLee"
        "membersLee membersLee membersLee membersLee"
        "membersLee membersLee membersLee membersLee"
        "membersLee membersLee membersLee membersLee"
        "membersLee membersLee membersLee membersLee"
        "membersLee membersLee membersLee membersLee"
        "membersLee membersLee membersLee membersLee"
        "membersLee membersLee membersLee membersLee"
        "membersMattKean membersMattKean membersMattKean membersMattKean"
        "membersMattKean membersMattKean membersMattKean membersMattKean"
        "membersMattKean membersMattKean membersMattKean membersMattKean"
        "membersMattKean membersMattKean membersMattKean membersMattKean"
        "membersMattKean membersMattKean membersMattKean membersMattKean"
        "membersMattKean membersMattKean membersMattKean membersMattKean"
        "membersMattKean membersMattKean membersMattKean membersMattKean"
        "membersMattKean membersMattKean membersMattKean membersMattKean"
        "membersMattKean membersMattKean membersMattKean membersMattKean"
        "membersJordan membersJordan membersJordan membersJordan"
        "membersJordan membersJordan membersJordan membersJordan"
        "membersJordan membersJordan membersJordan membersJordan"
        "membersJordan membersJordan membersJordan membersJordan"
        "membersJordan membersJordan membersJordan membersJordan"
        "membersJordan membersJordan membersJordan membersJordan"
        "membersJordan membersJordan membersJordan membersJordan"
        "membersJordan membersJordan membersJordan membersJordan"
        "membersJordan membersJordan membersJordan membersJordan"
        "membersJordan membersJordan membersJordan membersJordan"
        "footer footer footer footer";

        align-content: stretch;
    }

    #members {
        grid-area: members;
    }

    #membersOliver {
        grid-area: membersOliver;
    }

    #membersMattNicholls {
        grid-area: membersMattNicholls;
    }

    #membersLee {
        grid-area: membersLee;
    }

    #membersMattKean {
        grid-area: membersMattKean;
    }

    #membersJordan {
        grid-area: membersJordan;
    }

    /* --------------------LAYOUT/CONTACT------------------- */

    #bodyContact {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, red, crimson, yellow);

        display: grid;

        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 150px);

        grid-column-gap: 2px;
        grid-row-gap: 2px;

        grid-template-areas: 
        "header header header header"
        "contactUs contactUs contactUs contactUs"
        "boxForm boxForm boxForm boxForm"
        "boxForm boxForm boxForm boxForm"
        "boxForm boxForm boxForm boxForm"
        "boxForm boxForm boxForm boxForm"
        "footer footer footer footer";

        align-content: stretch;
    }

    #contactUs {
        grid-area: contactUs;
    }

    #boxForm {
        grid-area: boxForm;
        justify-self: center;
        align-self: center;
    }

    /* --------------------ITEMS/HEADER------------------- */

    .audio {
        width: 100%;
        height: 40px;
    }

    .audio audio {
        width: 250px;
        height: 20px;
        position: relative;
        top: 10px;
        left: 225px;
    }


    input:focus {
        background-image: linear-gradient(to top, red, orange);
    }

/* --------------------ITEMS/FOOTER------------------- */

    .footerLogo {
        width: 100%;
        height: 100%;
    }

    .footerLogo img {
        width: 50px;
        height: 50%;

        position: relative;
        top: 20px;
        left: 25px;
    }

    .history {
        width: 100%;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: 5px;
        list-style: 12px;
        text-align: center;

        align-self: center;
    }

    .links {
        width: 100%;
        text-align: center;
        line-height: 40px;
    }

    .links a img{
        width: 25px;
        height: 25px;
    }

/* --------------------ITEMS/HOME------------------- */

    .nameBand {
        color: black;
        font-family: 'Permanent Marker', cursive;
        font-size: 32px;
        text-align: center;
    }

    .description {
        color: black;
        font-family: 'Courier New', Courier, monospace;
        font-size: 10px;
        line-height: 11px;
        text-align: center;
    }

    .miniVideos iframe {
        width: 150px;
        height: 100px;
    }

    .buttonMore {
        text-align: center;
    }

    /* --------------------ITEMS/GALLERY-------------------- */

    .bigTitleGallery {
        color: black;
        font-family: 'Permanent Marker', cursive;
        font-size: 30px;
    }

    .titleGalleryImg, .titleGalleryVideos {
        color: black;
        font-family: 'Permanent Marker', cursive;
        font-size: 25px;
        text-align: center;
    }

    .galleryImg img {
        width: 100%;
        height: 350px;
    }

    .videosAll iframe {
        width: 350px;
        height: 200px;

        position: relative;
        top: 10px;
        left: 70px;
    }

        /* --------------------ITEMS/DISCOGRAPHY-------------------- */

    .bigTitleDiscography {
        color: black;
        font-family: 'Permanent Marker', cursive;
        font-size: 30px;
        text-align: center;
    }

    .titleAlbumStudio, .titleSingleEP, .titleLive {
        color: black;
        font-family: 'Permanent Marker', cursive;
        font-size: 25px;
        text-align: center;
    }

    #discographyComplete img {
        width: 400px;
        height: 400px;
    }

    /* --------------------ITEMS/MEMBERS-------------------- */

    .bigTitleMembers {
        color: black;
        font-family: 'Permanent Marker', cursive;
        font-size: 30px;
        text-align: center;
    }

    .titleOliver, .titleMattN, .titleLee, .titleMattKean, .titleJordan {
        background-color: crimson;
        color: black;
        font-family: 'Permanent Marker', cursive;
        font-size: 25px;
        text-align: center;
    }

    .oliver1, .oliver2, .oliver3 {
        width: 100%;
        text-align: center;
        line-height: 30px;
    }

    .oliver1 img {
        display: inline;
        width: 200px;
        height: 200px;
        border: 2px solid violet;
    }

    .oliver2 img {
        width: 300px;
        height: 300px;
        border: 2px solid violet;
    }

    .oliver3 img {
        display: inline;
        width: 225px;
        height: 275px;
        border: 2px solid violet;
    }

    .mattN1, .mattN2, .mattN3 {
        width: 100%;
        text-align: center;
        line-height: 30px;
    }

    .mattN1 img {
        display: inline;
        width: 150px;
        height: 150px;
        border: 2px solid violet;
    }

    .mattN2 img {
        width: 450px;
        height: 350px;
        border: 2px solid violet;
    }

    .mattN3 img {
        display: inline;
        width: 150px;
        height: 125px;
        border: 2px solid violet;
    }

    .lee1, .lee2, .lee3 {
        width: 100%;
        text-align: center;
        line-height: 30px;
    }

    .lee1 img {
        display: inline;
        width: 350px;
        height: 350px;
        border: 2px solid violet;
    }

    .lee2 img {
        width: 450px;
        height: 250px;
        border: 2px solid violet;
    }

    .lee3 img {
        display: inline;
        width: 300px;
        height: 300px;
        border: 2px solid violet;
    }

    .mattK1, .mattK2, .mattK3 {
        width: 100%;
        text-align: center;
        line-height: 30px;
    }
    
    .mattK1 img {
        display: inline;
        width: 250px;
        height: 400px;
        border: 2px solid violet;
    }

    .mattK2 img {
        width: 450px;
        height: 250px;
        border: 2px solid violet;
    }

    .mattK3 img {
        display: inline;
        width: 300px;
        height: 300px;
        border: 2px solid violet;
    }

    .jordan1, .jordan2, .jordan3 {
        width: 100%;
        text-align: center;
        line-height: 30px;
    }

    .jordan1 img {
        display: inline;
        width: 250px;
        height: 400px;
        border: 2px solid violet;
    }

    .jordan2 img {
        width: 450px;
        height: 250px;
        border: 2px solid violet;
    }

    .jordan3 img {
        display: inline;
        width: 200px;
        height: 200px;
        border: 2px solid violet;
    }

    /* --------------------ITEMS/CONTACT-------------------- */

    .titleContacUs {
        color: black;
        font-family: 'Permanent Marker', cursive;
        font-size: 30px;
        text-align: center;
    }
    
    .descriptionContactUs {
        color: black;
        font-family: 'Courier New', Courier, monospace;
        font-size: 15px;
        text-align: center;
    }
    
    form {
        text-align: center;
    }
}